apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "podmonitor-operator.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "podmonitor-operator.labels" . | nindent 4 }}
spec:
  {{- if not .Values.operator.leaderElection }}
  replicas: {{ .Values.operator.replicaCount }}
  {{- else }}
  replicas: 1
  {{- end }}
  selector:
    matchLabels:
      {{- include "podmonitor-operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "podmonitor-operator.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "podmonitor-operator.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.operator.podSecurityContext | nindent 8 }}
      containers:
      - name: manager
        securityContext:
          {{- toYaml .Values.operator.securityContext | nindent 10 }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command:
        - /manager
        args:
        {{- if .Values.operator.leaderElection }}
        - --leader-elect
        {{- end }}
        {{- with .Values.operator.env }}
        env:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        livenessProbe:
          {{- toYaml .Values.operator.livenessProbe | nindent 10 }}
        readinessProbe:
          {{- toYaml .Values.operator.readinessProbe | nindent 10 }}
        resources:
          {{- toYaml .Values.operator.resources | nindent 10 }}
      {{- with .Values.operator.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
